// Bootstrap breakpoints definitions
$screen-xs: 480px;
$screen-sm: 768px;
$screen-md: 992px;
$screen-lg: 1200px;

body {
  margin: 0;
  padding: 0;
}

.error-404 {
  height: 90vh;
  padding: 50px 50px 10px 50px;

  &-text {
    @media (min-width: $screen-sm) {
        max-width: 50vw;
    }

    p,
    h1 {
      font-family: "Source Code Pro", monospace;
    }

    h1 {
      font-size: 90px;
      font-weight: 800;
      margin-bottom: 0;
    }

    p {
      font-size: 22px;
      font-weight: 600;
    }
  }
}
