$background-color: #f5f5f5;
$text-color-primary: #000000;
$text-color-secondary: #717171;

body {
  background-color: $background-color;
  color: $text-color-primary;
}

// Type definitions
// - Titles
h1,
h2,
h3 {
  font-family: "Source Code Pro", monospace;
  font-weight: 900;
}

h1 {
  font-size: 60px;
}

h2 {
  font-size: 35px;
}

h3 {
  font-size: 22px;
  color: $text-color-secondary;
}

// - Paragraphs
p {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 17px;
  color: $text-color-primary;
}

// - Lists

// Specific elements
// - Header with image
.header-with-image {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;

  // High contrast text
  * {
    color: #ffffff;
  }

  p {
    font-size: 25px;
    font-weight: 600;
  }
}

// - Large list
ul {
  &.large-list {
    list-style: none;
    padding: 0;

    .large-list-element {
      li {
        padding: 0;
      }
      // first child of type p
      p:first-child {
        font-family: "Source Code Pro", monospace;
        font-weight: 800;
        font-size: 60px;
        margin-bottom: 0;
      }
      h4 {
        font-family: "Open Sans", sans-serif;
        font-weight: 700;
        font-size: 45px;
      }
      p {
        margin-top: 15px;
      }
    }
  }
}

// Bootstrap Further Customization
.container-fluid {
  // Center contents
  > div,
  ul {
    margin: 0 auto;
  }
}

// Layout
// - Width classes
.container-narrow {
  > div,
  ul {
    max-width: 800px;
  }
}
