$background-color: #f5f5f5;
$text-color-primary: #000000;
$text-color-secondary: #717171;
$text-font-size-p-default: 17px;

// Bootstrap breakpoints definitions
$screen-xs: 480px;
$screen-sm: 768px;
$screen-md: 992px;
$screen-lg: 1200px;

body {
  background-color: $background-color;
  color: $text-color-primary;
}

// Stop scrolling on mobile
body,
html {
  overflow-x: hidden;
}

// Type definitions
// - Titles
h1,
h2,
h3 {
  font-family: "Source Code Pro", monospace;
  font-weight: 900;
}

h1 {
  font-size: 45px;

  // For sizes smaller than md
  @media (min-width: $screen-md) {
    font-size: 60px;
  }
}

.h1-subtitle {
  font-size: 20px;
  font-weight: 600;
  padding-top: 8px;

  // For sizes smaller than md
  @media (min-width: $screen-md) {
    font-size: 22px;
  }
}

h2 {
  font-size: 35px;

  &.small {
    font-size: 25px;
  }
}

h3 {
  font-size: 22px;
  color: $text-color-secondary;
}

// - Paragraphs
p {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: $text-font-size-p-default;
  color: $text-color-primary;

  &.annotation {
    font-style: italic;
    color: $text-color-secondary;
  }
}

// - Lists
ol {
  &.bold-numbers {
    & > li::marker {
      font-weight: bold;
    }
  }
}

// - Large list
ul {
  &.large-list {
    list-style: none;
    padding: 0;

    li {
      > div {
        // first child of type p
        p:first-child {
          font-family: "Source Code Pro", monospace;
          font-weight: 800;
          font-size: 60px;
          margin-bottom: 0;
        }
        h4 {
          font-family: "Open Sans", sans-serif;
          font-weight: 700;
          font-size: 45px;
        }
        p {
          margin-top: 15px;
        }
      }
    }
  }
}

// Bootstrap Further Customization
// - Layout
.container-fluid {
  // Center contents
  > div {
    margin: 0 auto;
  }

  margin-top: 150px;

  img {
    width: 100%;
  }
}

.row {
  &:not(:first-child) {
    margin-top: 40px;
  }
}

// Removes the gutter from the column
// target all Bootstrap5 col-*
[class^="col-"].gx-negative {
  $bootstrap5-gutter: 1.5rem;

  & > div {
    margin-left: -$bootstrap5-gutter;
    margin-right: -$bootstrap5-gutter;
  }
}

// - Buttons
.btn {
  font-family: "Source Code Pro", monospace;
  font-weight: 600;
  font-size: $text-font-size-p-default;
  border-radius: 14px;
  border: 0;
  padding: 5px 20px;
  transition: all 0.2s ease-in-out;

  &:hover {
    transform: scale(1.02);
  }
}

// Layout
// - Body
body {
  padding-bottom: 200px;
}

// - Width classes
.container-narrow {
  > div,
  ul {
    max-width: 800px;
    // Center contents
    margin: 0 auto;
  }
}

.container-wide {
  > div,
  ul {
    max-width: 1200px;
    // Center contents
    margin: 0 auto;
  }
}

// - list
li {
  &:not(:last-child) {
    margin-bottom: 8px;
  }
}

// Specific elements
// - Header with image
.header-with-image {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;

  // Override margin
  margin-top: 0;

  // High contrast text
  * {
    color: #ffffff;
  }

  p {
    font-size: 22px;
    font-weight: 600;
  }
}

.image-with-text {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;

  min-height: 500px;

  // High contrast text
  * {
    color: #ffffff;
  }

  .large-text {
    font-weight: 800;
    font-family: "Source Code Pro", monospace;
    padding-right: 20%;
    padding-left: 20%;
    margin-bottom: 0;

    font-size: 40px;

    @media (min-width: $screen-md) {
      font-size: 60px;
    }
  }
}

// - Image
img.narrow-image {
  width: 100%;
  max-height: 500px;
  margin: 0 auto;
  // image preserve aspect ratio
  object-fit: cover;
}

img.darken-image {
  filter: brightness(0.3);
}

// - App Screens
.app-screens {
  h4 {
    font-size: 35px;
    font-family: "Source Code Pro", monospace;
    font-weight: 900;
    // Center text
    text-align: center;
  }

  h5 {
    font-size: 40px;
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
  }

  img.device-screenshot {
    max-width: 60vw;
  }

  .centered-screenshot {
    // Center contents and text
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    // Space contents 30px but not last element
    > * {
      margin-bottom: 25px;
      &:last-child {
        margin-bottom: 0;
      }
    }

    h5 {
      text-align: center;
    }

    // margin bottom for sizes smaller than md
    @media (max-width: $screen-md) {
      margin-bottom: 50px;
    }
  }

  .clinical-information {
    background-color: #fff;
    // padding: 0px;

    img {
      max-width: 500px;
    }

    &-text {
      padding-top: 50px;
      padding-bottom: 50px;
    }
  }
}

.closing-remark {
  font-family: "Open Sans", sans-serif;
  font-weight: 800;
  font-size: 40px;
}

// Index
// - Header with image
.header-composed {
  // Background image
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  // Alignment
  text-align: center;

  // Override margin
  margin-top: 0;
  // Clip overlapping elements
  overflow: hidden;

  // Texts
  h1 {
    font-size: 55px;
    font-weight: 900;
    margin-bottom: 10px;

    @media (min-width: $screen-md) {
      font-size: 70px;
    }
  }

  p {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 2px;

    @media (min-width: $screen-md) {
      font-size: 25px;
    }

    &.location {
      // font-weight: 300;
      opacity: 0.5;
    }
  }

  &-text {
    // High contrast text
    p,
    h1 {
      color: rgb(0, 0, 0);
    }

    .blend-gradient {
      // Add a gradient to the background
      background: radial-gradient(
        closest-side,
        rgba(245, 245, 245, 1) 0%,
        rgba(245, 245, 245, 0.85) 80%,
        transparent 100%
      );

      // Add space for the gradient to breathe
      padding: 40px 20px 40px 20px;
      @media (min-width: $screen-md) {
        padding: 70px;
      }
    }
  }

  &-bust {
    //center contents
    display: flex;
    justify-content: center;
    img {
      max-width: 150%;
      max-height: 50vh;
      width: 120%;
    }
  }
}

.portfolio-element {
  $portfolio-element-spacing: 30px;
  $portfolio-element-spacing-reduced: 17px;

  background-color: #fff;

  // Inner horizontal padding
  padding: 0 ($portfolio-element-spacing/2);
  @media (min-width: $screen-md) {
    padding: 0 ($portfolio-element-spacing * 2);
  }

  &.row {
    .portfolio-element-main-image {
      max-width: 400px;
      // center contents
      margin: 0 auto;

      img {
        margin-top: 30px;
        width: 100%;
      }
    }
  }

  &-text {
    //vertical padding
    padding: $portfolio-element-spacing * 2 0;
  }

  &-icon {
    // Contents inline and centered
    display: flex;
    align-items: center;
    // Spacing
    margin-bottom: 25px;

    // icon size and style
    img {
      width: 90px;
      border-radius: 25%;
      margin-right: 20px;
    }

    h3 {
      color: #000;
      font-size: 35px;
      margin: 0;
    }
  }

  &-subtitle {
    font-family: "Source Code Pro", monospace;
    font-weight: 900;
    font-size: 22px;
    color: $text-color-secondary;
    margin-bottom: 5px;
  }

  &-tags {
    .text-bg-secondary {
      color: $text-color-secondary !important;
      background-color: #dbdbdb !important;
    }
    .badge {
      margin-bottom: 5px;
    }
  }

  &-action {
    margin-top: $portfolio-element-spacing * 1.5 - 15px;    // 15px is the margin of the button element

    > * {
      margin-top: 15px;
    }
  }
}

.photo-gallery {
  [class^="col-"] {
    padding: 0px 4px 0px 4px;
  }

  &-image {
    margin-bottom: 8px;
  }
}

.logo {
  text-align: center;
  img {
    height: 100px;
    max-width: 20vw;
    // Preserve aspect ratio
    object-fit: contain;
  }

  p {
    margin-top: 10px;
    font-size: 12px;
    font-weight: 300;
    margin-bottom: 2px;
    color: $text-color-secondary;
  }
}
