// Bootstrap breakpoints definitions
$screen-xs: 480px;
$screen-sm: 768px;
$screen-md: 992px;
$screen-lg: 1200px;
// Layout
$element-corner-radius: 15px;
$card-padding: 25px;
$column-padding: 2.5px;
$button-height: 100px;
// Color
$text-color-secondary: #717171;

// Google fonts icons
.material-symbols-rounded {
  font-variation-settings: "FILL" 0, "wght" 500, "GRAD" 200, "opsz" 24;
}

.container-fluid {
  margin-top: 50px;
  @media (min-width: $screen-sm) {
    margin-top: 150px;
  }
}

.container-card {
  // - Sizing
  width: 95%;
  height: 100vh;
  @media (min-width: $screen-sm) {
    width: 500px;
    height: auto;
  }

  // - Design
  background-color: #ffffff;
  padding-top: $card-padding - calc($column-padding * 4); // Compensates the padding of the row
  padding-right: $card-padding - calc($column-padding * 2);
  padding-bottom: $card-padding - calc($column-padding * 2);
  padding-left: $card-padding - calc($column-padding * 2);
  border-radius: $element-corner-radius + calc($column-padding * 2);
  // Shadow
  box-shadow: 0px 2px 40px 0px rgba(0, 0, 0, 0.2);

  // - Layout
  .row {
    margin-top: calc($column-padding * 2);
    margin-bottom: 0;

    [class^="col-"] {
      padding-right: $column-padding;
      padding-left: $column-padding;
    }
  }

  // Contents
  &-portrait {
    img {
      //image with border radius
      border-radius: $element-corner-radius;
      width: 100%;

      // Same transform as the buttons
      //   transition: all 0.2s ease-in-out;
      //   &:hover {
      //     transform: scale(1.02);
      //   }
    }
  }

  &-heading {
    padding-left: 10px;

    h1 {
      font-size: 45px;
      margin-bottom: 0;
    }

    p {
      font-size: 15px;
      font-family: "Source Code Pro", monospace;
      color: $text-color-secondary;
      margin-top: 0;
    }
  }

  &-button {
    > .btn {
      &.btn-double {
        height: $button-height;
        // Align content bottom
        justify-content: flex-end;
      }

      &.btn-single {
        height: calc($button-height / 2);
        // Align content center
        justify-content: center;
        // Display contents inline
        display: inline-flex;
        > div {
          padding-top: 0;
          // Align content center
          display: flex;
          align-items: center;

          :first-child {
            // This is the icon
            padding-top: 0;
            margin-right: 10px;
          }
          :last-child {
            // This is the label
            padding-top: 3px;
          }
        }
      }

      width: 100%;
      background-color: #000000;
      border-radius: $element-corner-radius;

      // Align content leading
      text-align: start;
      // Content alignment
      display: flex;
      flex-direction: column;
      // Padding
      padding-bottom: calc($element-corner-radius/2);
      padding-left: $element-corner-radius;

      * {
        padding-top: 5px;
      }
    }
  }
}
